@import 'helpers/__variables';
@import 'helpers/__mixins';
html{
	font-size: 10px;
}
body{
	max-width: 1280px;
	background-color: #797979;
	margin: 0 auto;
}
.small-text{
	font:$sm-text-xl;
	margin-bottom: 20px;
}
.title{
	font: $title-xl;
	margin-bottom: 30px;
}
.site_wrap{
	max-width: 1000px;
	width: 100%;
	background: url(../img/bg.jpg);
	box-sizing: border-box;
	padding: 50px 100px;
	margin: auto;
}
.wrap_logo{
	display: flex;
	justify-content: flex-end;
	margin: 0 -50px;
	margin-bottom: 20px;
}
section,header{
	margin-bottom: 60px;}

/* header */
.header{
	margin-bottom: 60px;
	&_logo{
		display: flex;
		justify-content: center;
		margin-bottom: 50px;
	}
}
.info-item{
	display: flex;
	align-items: center;
	&_title{
		font: $about-me-l-xl;
		padding-right: 30px;
		margin: 0;
	}
	&_text{
		display: flex;
		align-items: flex-end;
		flex:1 0;
		padding-left: 20px;
		padding-bottom: 20px;
		font:$about-me-r-xl;
		margin: 0;
		background:url(../img/line.png)no-repeat 0 bottom/850px 40px;
		a{
			text-decoration: none;
			color: #000;
		}
	}
}
/* конец header'а */


/* about-me */
.about-me{
	&_checkbox{
		display: flex;
		flex-flow: wrap;
		justify-content: flex-start;
		align-items: flex-start;
		padding-top: 15px;
		.checkbox-group{
			flex:1 1 33%;
		}
		.checkbox-item{
			display: flex;
			margin-bottom: 10px;
			input{
				display: none;
				&:checked ~ label::after{
					opacity: 1;
				}
			}
			label{
				position: relative;
				padding-left: 25px;
				font: $checkbox-label-xl;
				&::before{
					position: absolute;
					left: -5px;
					top: -10px;
					content:'';
					width: 30px;
					height: 30px;
					background:url('../img/sprite.png');
				}
				&::after{
					opacity: 0;
					transition:.2s all;
					position: absolute;
					left: -5px;
					top: -10px;
					content:'';
					width: 30px;
					height: 30px;
					background:url('../img/sprite.png')0 -40px;
				}
			}
		}
	}
	&-2{
		&_description{
			padding-top: 20px;
		}
		&_text{
			@extend .info-item_text;
		}
	}
	&_future{
		.my-plan{
			display: flex;
			flex-flow: wrap;
		}
		input{
			display: none;
			&:checked + label::after{
					opacity: 1;
			}
		}
		label{
				position: relative;
				padding: 0 20px 10px 30px;
				font:bold 21px/1em $PT_Sans;
				&::before{
					position: absolute;
					left: -5px;
					top: -10px;
					content:'';
					width: 30px;
					height: 40px;
					background:url('../img/sprite.png') 0 -80px;
				}
				&::after{
					opacity: 0;
					transition:.2s all;
					position: absolute;
					left: -6px;
					top: -10px;
					content:'';
					width: 30px;
					height: 40px;
					background:url('../img/sprite.png')0 -120px;
					/* конец about-me_future*/
				}
			}
	}
}
/* конец about-me */

/* js_skill */
[class*="js-skill_lvl"]::before{
	position: absolute;
	content:''
}
[class*="js-skill_lvl"],.js-skill_triangle{
	cursor:pointer;
	font:$js-skill_lvl-xl;
	content:'';
	position: absolute;
	top: 30px;
}
.js-skill{
	&_graphic{
		display: flex;
		justify-content: space-between;
		position: relative;
		width: 100%;
		margin-bottom: 100px;
		height: 5px;
		background:url(../img/line.png)no-repeat center center/102%;
	}
	&_triangle{
		top: -25px;
		left: calc(20% - 10px);
		width: 30px;
		height: 25px;
		transition:.5s all;
		background: url(../img/sprite.png) no-repeat -10px -125px/40px 160px;
	}
	&_lvl-1{
		width: 20%;
		left: 0;
		&::before{
			top: -28px;
			height: 20px;
			width: 2px;
			background-color: #222;
		}	
	}
	&_lvl-2{
		width: 30%;
		left: 20%;
		&::before{
			@extend .js-skill_lvl-1::before;
			height: 10px;
		}
	}
	&_lvl-3{
		width: 25%;
		left: 50%;
		&::before{
			@extend .js-skill_lvl-2::before;
		}
	}
	&_lvl-4{
		width: 25%;
		text-align: right;
		right: 0;
		&::before{
			@extend .js-skill_lvl-1::before;
			left: 100%;
		}
	}
}
/* конец js_skill */

/* DateOfFilling */
.DateOfFilling{
	display: flex;
	align-items: center;
	&_input{
		@extend .info-item_text;
		flex:0 0;
		display: block;
		letter-spacing: 4px;
		border: none;
		padding-left: 10px;

	}
}
/* конец DateOfFilling */
/* Адаптивность */
@include media($screen-lg){
	section,.header{
		margin-bottom: 50px;
	}
	.site_wrap{
		padding: 40px 80px;
	}
	.wrap_logo{
		margin: 0 -30px;
	}
	.title{
		font:$title-lg;
	}
	.about-me_checkbox .checkbox-item label{
		font: $checkbox-label-lg;
	}
	.info-item{
		&_title{
			font: $about-me-l-lg;
			padding-right: 24px;
			padding-bottom: 20px;
		}
		&_text{
			font: $about-me-r-lg;
		}
	}
	.small-text{
			font: $sm-text-lg;
		}
	[class*="js-skill_lvl"]{
		font: $js-skill_lvl-lg;
	}
	.my-plan{
		justify-content: flex-start;
		label{
			box-sizing: border-box;
			font: $checkbox-label-md;
		}
	}
}
@include media($screen-md){
	section,.header{
		margin-bottom: 40px;
	}
	.site_wrap{
		padding: 30px 60px;
	}
	.wrap_logo{
		margin: 0 -10px;
	}
	.title{
		font:$title-md;
	}
	.about-me_checkbox .checkbox-item label{
		font: $checkbox-label-md;
	}
	.info-item{
		&_title{
			font: $about-me-l-md;
			padding-right: 18px;
		}
		&_text{
			font: $about-me-r-md;
		}
	}
	.small-text{
			font: $sm-text-md;
		}
	[class*="js-skill_lvl"]{
		font: $js-skill_lvl-md;
	}
	.my-plan{
		justify-content: flex-start;
		label{
			box-sizing: border-box;
			margin-bottom: 10px;
			font: $checkbox-label-md;
		}
	}
}
@include media($screen-sm){
	section,.header{
		margin-bottom: 30px;
	}
	.site_wrap{
		padding: 20px 40px;
	}
	.wrap_logo{
		margin: 0;
	}
	.title{
		font:$title-sm;
	}
	.logo{
		width: 30%;
		height: 30%;
	}
	.about-me_checkbox .checkbox-item label{
		font: $checkbox-label-sm;
	}
	.info-item{
		&_title{
			font: $about-me-l-sm;
			padding-right: 8px;
		}
		&_text{
			font: $about-me-r-sm;
			padding-left: 10px;
			margin-top: -5px;
			background:url(../img/line.png)no-repeat 0 bottom/700px 30px;
		}
	}
	.small-text{
			font: $sm-text-sm;
		}
	[class*="js-skill_lvl"]{
		font: $js-skill_lvl-sm;
	}
	.my-plan{
		label{
			flex:0 0 45%;
			font: $checkbox-label-sm;
		}
	}
}
@include media($screen-xs){
	section,.header{
		margin-bottom: 20px;
	}
	.site_wrap{
		padding: 10px 20px;
	}
	.title{
		font:$title-xs;
	}
	.about-me_checkbox .checkbox-group{
		flex:1 1 50%;
	}
	.about-me_checkbox .checkbox-item label{
		font: $checkbox-label-xs;
	}
	.info-item{
		&_title{
			font: $about-me-l-xs;
			padding-right: 6px;
		}
		&_text{
			font: $about-me-r-xs;
		}
	}
	.small-text{
			font: $sm-text-xs;
		}
	[class*="js-skill_lvl"]{
		font: $js-skill_lvl-xs;
	}
	.my-plan{
		justify-content: flex-start;
		label{
			margin-bottom: 5px;
			font: $checkbox-label-xs;
		}
	}
}
