@mixin flex{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

@mixin media($width) {
  @media only screen and (max-width: $width) {
    @content;
  }
}
